@use "../base" as *;

// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/colors

// --------------------------------

:root,
[data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 250, 84%, 38%);
  @include defineColorHSL(--color-primary-dark, 250, 84%, 46%);
  @include defineColorHSL(--color-primary, 250, 84%, 54%);
  @include defineColorHSL(--color-primary-light, 250, 84%, 60%);
  @include defineColorHSL(--color-primary-lighter, 250, 84%, 67%);

  @include defineColorHSL(--color-accent-darker, 342, 89%, 38%);
  @include defineColorHSL(--color-accent-dark, 342, 89%, 43%);
  @include defineColorHSL(--color-accent, 342, 89%, 48%);
  @include defineColorHSL(--color-accent-light, 342, 89%, 56%);
  @include defineColorHSL(--color-accent-lighter, 342, 89%, 62%);

  @include defineColorHSL(--color-black, 204, 28%, 7%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  @include defineColorHSL(--color-success-darker, 122, 50%, 47%);
  @include defineColorHSL(--color-success-dark, 122, 50%, 52%);
  @include defineColorHSL(--color-success, 122, 50%, 60%);
  @include defineColorHSL(--color-success-light, 122, 50%, 69%);
  @include defineColorHSL(--color-success-lighter, 122, 50%, 76%);

  @include defineColorHSL(--color-error-darker, 342, 89%, 38%);
  @include defineColorHSL(--color-error-dark, 342, 89%, 43%);
  @include defineColorHSL(--color-error, 342, 89%, 48%);
  @include defineColorHSL(--color-error-light, 342, 89%, 56%);
  @include defineColorHSL(--color-error-lighter, 342, 89%, 62%);

  // background
  @include defineColorHSL(--color-bg-darker, 210, 4%, 89%);
  @include defineColorHSL(--color-bg-dark, 180, 3%, 94%);
  @include defineColorHSL(--color-bg, 0, 0%, 100%);
  @include defineColorHSL(--color-bg-light, 180, 3%, 100%);
  @include defineColorHSL(--color-bg-lighter, 210, 4%, 100%);

  // color contrasts
  @include defineColorHSL(--color-contrast-lower, 180, 1%, 84%);
  @include defineColorHSL(--color-contrast-low, 210, 2%, 64%);
  @include defineColorHSL(--color-contrast-medium, 204, 2%, 46%);
  @include defineColorHSL(--color-contrast-high, 210, 7%, 21%);
  @include defineColorHSL(--color-contrast-higher, 204, 28%, 7%);
}

[data-theme="dark"] {
  // main
  @include defineColorHSL(--color-primary-darker, 250, 93%, 57%);
  @include defineColorHSL(--color-primary-dark, 250, 93%, 61%);
  @include defineColorHSL(--color-primary, 250, 93%, 65%);
  @include defineColorHSL(--color-primary-light, 250, 93%, 69%);
  @include defineColorHSL(--color-primary-lighter, 250, 93%, 72%);

  @include defineColorHSL(--color-accent-darker, 342, 92%, 41%);
  @include defineColorHSL(--color-accent-dark, 342, 92%, 47%);
  @include defineColorHSL(--color-accent, 342, 92%, 54%);
  @include defineColorHSL(--color-accent-light, 342, 92%, 60%);
  @include defineColorHSL(--color-accent-lighter, 342, 92%, 65%);

  @include defineColorHSL(--color-black, 204, 28%, 7%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  @include defineColorHSL(--color-success-darker, 122, 50%, 47%);
  @include defineColorHSL(--color-success-dark, 122, 50%, 52%);
  @include defineColorHSL(--color-success, 122, 50%, 60%);
  @include defineColorHSL(--color-success-light, 122, 50%, 69%);
  @include defineColorHSL(--color-success-lighter, 122, 50%, 76%);

  @include defineColorHSL(--color-error-darker, 342, 92%, 41%);
  @include defineColorHSL(--color-error-dark, 342, 92%, 47%);
  @include defineColorHSL(--color-error, 342, 92%, 54%);
  @include defineColorHSL(--color-error-light, 342, 92%, 60%);
  @include defineColorHSL(--color-error-lighter, 342, 92%, 65%);

  // background
  @include defineColorHSL(--color-bg-darker, 204, 15%, 6%);
  @include defineColorHSL(--color-bg-dark, 203, 18%, 9%);
  @include defineColorHSL(--color-bg, 203, 24%, 13%);
  @include defineColorHSL(--color-bg-light, 203, 18%, 17%);
  @include defineColorHSL(--color-bg-lighter, 204, 15%, 20%);

  // color contrasts
  @include defineColorHSL(--color-contrast-lower, 208, 12%, 24%);
  @include defineColorHSL(--color-contrast-low, 208, 6%, 40%);
  @include defineColorHSL(--color-contrast-medium, 213, 5%, 56%);
  @include defineColorHSL(--color-contrast-high, 223, 8%, 82%);
  @include defineColorHSL(--color-contrast-higher, 240, 100%, 99%);

  // font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  // shades - generated using chroma.js - 12 steps
  --black: #1d1d21;
  --gray-10: #2e2e31;
  --gray-6: #7b7a7d;
  --gray-4: #a5a5a6;
  --gray-3: #bbbbbc;
  --gray-2: #d1d0d2;
  --gray-1: #e8e7e8;
  --white: white;

  /* feedback */
  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;

  /* typography */
  // --color-text: var(--gray-10);
  --color-text: #000;
  --color-text-heading: var(--black);
  --color-text-subtle: var(--gray-6);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);
  --color-mark: var(--color-accent-bg);
  --color-blockquote-border: var(--gray-2);

  /* border */
  --color-border: var(--gray-2);

  /* body */
  --color-body: var(--white);

  /* forms */
  --form-element-border: var(--color-border);
  --form-element-border-focus: var(--color-primary);
  --form-element-border-error: var(--color-error);
  --form-element-bg: var(--white);
  --form-text-placeholder: var(--gray-4);

  /* buttons */
  --btn-primary-bg: var(--color-primary);
  --btn-primary-hover: var(--color-primary-light);
  --btn-primary-active: var(--color-primary-dark);
  --btn-primary-label: var(--white);

  --btn-secondary-bg: var(--gray-1);
  --btn-secondary-active: var(--gray-2);
  --btn-secondary-label: var(--gray-10);

  --btn-accent-bg: var(--color-accent);
  --btn-accent-hover: var(--color-accent-light);
  --btn-accent-active: var(--color-accent-dark);
  --btn-accent-label: var(--white);

  --btn-disabled-bg: var(--gray-2);
  --btn-disabled-label: var(--gray-10);

  /* icons */
  --color-icon-primary: var(--gray-4);
  --color-icon-secondary: inherit;
}
