.print-page {
  position: relative;
  &__paper {
    width: 210mm;
    // min-height: 297mm;
    height: 297mm;
    // margin: 0 auto;
    margin-left: auto;
    border: 1px solid var(--gray-2);
  }

  &__settings {
    position: absolute;
  }
}

// PRINT PAPER
@media print {
  // set html size back
  html {
    font-size: 100% !important;
  }
  // HIDE UNWANTED ELEMENT
  .header,
  .print-page__settings {
    display: none;
  }

  //   LAYOUT RESET
  .app,
  main,
  section,
  .print-page__paper {
    width: 100% !important;
    border: none !important;
    padding: 0 !important;
    margin: 0;
    color: var(--color-black);
  }

  // GLOBAL TYPOGRAPHY RESET
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16pt;
    line-height: 24pt;
    background: none;
    color: var(--color-black);
  }

  //   SPECIFICS
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-black) !important;
    font-size: 24pt;
    line-height: 30pt;
    margin: 0;
  }

  h1 {
    font-size: 50pt;
    margin: 0 0 20pt;
    text-align: center;
    width: 100%;
    transform: rotate(0);
  }

  h1 small {
    font-size: 24pt;
    color: #888;
    margin: 0 0 10pt;
  }

  p {
    color: var(--color-black) !important;
  }
}
