.print-page {
  position: relative;
  &__paper {
    font-size: 16px;
    position: relative;
    width: 210mm;
    // min-height: 297mm;
    height: 297mm;
    // height: 1122px;
    overflow: visible;
    // margin: 0 auto;
    margin-left: auto;
    border: 1px solid var(--gray-2);
  }

  &__paper-footer {
    position: absolute;
    // background-color: var(--gray-4);
    left: 0;
    right: 0;
    // bottom: 100px;
    bottom: 150px;
  }

  &__settings {
    position: absolute;
    z-index: var(--z-index-popover);
    background-color: var(--gray-1);

    .options-menu {
      // position: absolute;
      // z-index: var(--z-index-popover);
      // left: 0;
      // right: 0;
      // bottom: 0;
      position: var(--z-index-popover);
    }
  }
}

// PRINT PAPER
@media print {
  // set html size back
  html {
    font-size: 100% !important;
  }
  // HIDE UNWANTED ELEMENT
  .header,
  .print-page__settings {
    display: none;
  }

  .print-page__paper-footer {
    background: transparent !important;
    padding: 0 !important;
  }

  //   LAYOUT RESET
  .print-page {
    padding: 0 !important;
  }
  .app,
  main,
  section,
  .print-page__paper {
    width: 100% !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    color: var(--color-black) !important;
  }

  // GLOBAL TYPOGRAPHY RESET
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    // font-family: "Times New Roman", Times, serif !important;
    font-size: 16pt;
    // line-height: 11pt !important;
    background: none;
  }

  .print-page__paper {
    font-family: "Times New Roman", Times, serif !important;
  }

  //   SPECIFICS
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 28pt;
    line-height: 30pt;
    margin: 0;
  }

  h1 {
    font-size: 50pt;
    margin: 0 0 20pt;
    text-align: center;
    width: 100%;
    transform: rotate(0);
  }

  h1 small {
    font-size: 24pt;
    margin: 0 0 10pt;
  }

  .category-text {
    // color: red !important;
    line-height: 1.2;
    font-size: 36pt;
  }

  p {
    color: var(--color-black) !important;
  }

  .paper-content {
    p {
      font-size: 16pt !important;
      // color: red !important;
      font-weight: 500;
      // outline: 1px solid red !important;
    }

    // span {
    // }

    .test-exam-full-name {
      font-size: 10pt !important;
      font-style: italic !important;
    }

    .test-exam-description {
      // outline: 1px solid red !important;
      font-size: 11pt !important;
      font-family: Calibri;
    }
  }

  .print-page__paper-footer,
  .print-page__paper-nb {
    p {
      font-size: 16pt !important;
    }
  }
}
