// OVERLAY
.overlay {
  position: fixed;
  z-index: var(--z-index-fixed-element);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dialog-box {
  position: fixed;
  z-index: var(--z-index-overlay);
  top: 10vh;
  bottom: 10vh;
  left: 20vw;
  right: 20vw;

  .close-container {
    position: absolute;
    right: var(--space-md);
    top: var(--space-sm);
  }
}
